/*
Color pallet

#05aaea
https://www.color-hex.com/color/05aaea
#aaea05
 */

html {
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

body {
  background-color: #05aaea;
}

h2 {
  display: inline-block;
}

#pl2 {
  display: inline-block;
  position: absolute;
  right: 0;
}

.gameboard {
  position: relative;
  display: block;
  width: 650px;
  height: 650px;
  background-color: black;
  margin: 30px auto;
}

.squares {
  margin: 1.4%;
  display: inline-block;
  width: 30%;
  height: 30%;
  background-color: #aaea05;
  border: 0px;
  text-align: center;
  line-height: 200px;
  font-size: 6em;
  color: red;
  cursor: pointer;
  padding: 0;
  position: absolute;
}

#sq1 {
  top: 8px;
  left: 8px;
}
#sq2 {
  top: 8px;
  left: 216px;
}
#sq3 {
  top: 8px;
  left: 424px;
}
#sq4 {
  top: 216px;
  left: 8px;
}#sq5 {
  top: 216px;
  left: 216px;
}
#sq6 {
  top: 216px;
  left: 424px;
}#sq7 {
  top: 424px;
  left: 8px;
}
#sq8 {
  top: 424px;
  left: 216px;
}#sq9 {
  top: 424px;
  left: 424px;
}
