/*
Color pallet
#0538ea
#05aaea
https://www.color-hex.com/color/05aaea
#aaea05
 */

html {
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

body {
  background-color: #05aaea;
}

h2 {
  /* display: inline-block; */
}

.player-box{
  position: absolute;
  height: 80px;
  width: 35%;
  background-color: #0538ea;
}

#pb1 {
  top: 50px;
  left: 10px;
}

#pb2 {
  top: 50px;
  right: 10px;
}

#pl1 {
  display: inline-block;
  position: absolute;
  left: 10px;
}

#pl2 {
  display: inline-block;
  position: absolute;
  right: 10px;
}

#player1 {
  margin-top: 20px;
  padding: 0.5em;
  border-radius: 5px;
  margin-left: 146px;
}

#player2 {
  margin-top: 20px;
  padding: 0.5em;
  border-radius: 5px;
  margin-left: 10px;
}
.gameboard {
  top: 120px;
  left: 17%;
  /* position: relative; */
  position: absolute;
  display: block;
  width: 650px;
  height: 650px;
  background-color: black;
  margin: 30px auto;
}

.squares {
  margin: 1.4%;
  display: inline-block;
  width: 30%;
  height: 30%;
  background-color: #aaea05;
  border: 0px;
  text-align: center;
  line-height: 200px;
  font-size: 6em;
  color: red;
  cursor: pointer;
  padding: 0;
  position: absolute;
}

#gameover {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  background-color: #0538ea;
}

#reset-game {
  position: absolute;
  top: 70%;
  left: 30%;
  width: 40%;
  text-align: center;
}

#winner {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 60%;
  text-align: center;
}

#sq1 {
  top: 8px;
  left: 8px;
}
#sq2 {
  top: 8px;
  left: 216px;
}
#sq3 {
  top: 8px;
  left: 424px;
}
#sq4 {
  top: 216px;
  left: 8px;
}#sq5 {
  top: 216px;
  left: 216px;
}
#sq6 {
  top: 216px;
  left: 424px;
}#sq7 {
  top: 424px;
  left: 8px;
}
#sq8 {
  top: 424px;
  left: 216px;
}#sq9 {
  top: 424px;
  left: 424px;
}
